auth_enabled: false

server:
  http_listen_port: 3100

search_enabled: true

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"


storage:
  trace:
    backend: local
    local:
      path: /var/tempo